<?xml version="1.0" ?>
<launch>

	<!-- tf transformer from trunk to world -->
	<node name="ground_truth_to_tf" pkg="hyq2max_description" type="ground_truth_to_tf"/>

	<arg name="gui" default="True"/>
	<arg name="rviz_conf" default="$(find hyq2max_description)/rviz/hyq2max_model_tf.rviz"/>
	

	<!-- run rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf) -f world"/>

</launch>

